html {
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.dev-html {
    background-color: #0f2f82;
}

.norm-html {
    background-color: #0065eb;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.dev-body {
    background-color: #0896ff;
    color: whitesmoke;
}

.norm-body {
    background-color: #ff8d00;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
}

p, li {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    height: 300px;
    width: auto;
    display: block;
    margin: 0 auto;
}